<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
</head>
<body>
    <form action="/categories/new" method="POST">
        <label for="category_name">Add A Category:</label>
        <input type="text" id="category_name" name="category_name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>