<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
</head>
<body>
    <form action="/categories/update/<%= categoryId %>" method="POST">
        <label for="updated_category_name">Update The Category:</label>
        <input type="text" id="updated_category_name" name="updated_category_name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>